// Fonts
$font-base-size: 16px;

// --
$font-family-bagnard: 'Bagnard Sans';
// --

$font-family-favorit: 'favorit';
$font-family-giselle: 'fh-giselle';

// Colors
$color-primary: #E10E12;
$color-secondary: #FF462E;
$color-tertiary: #BBAAC9;

$color-white: #F9F7F1;
$color-black: #21211F;
$color-error: #F05656;

$color-background: #A7ADA9;

// Adaptive
$breakpoint-narrow: 480px;
$breakpoint-regular: 768px;
$breakpoint-wide: 1024px;

// Margins
$narrow-spacing: 100px;
$regular-spacing: 150px;
$wide-spacing: 300px;

// Container
$wide-container: 1300px;